.main{
    width: 100vw;
    height: 6vh;
    background-color: #0d86e0;
}
@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}