.main {
    width: 96vw;
    height: 12vh;
    background-color: #0766AD;
    padding: 0 2vw 0 2vw;
    display: flex;
}

.logo1 {
    width: 10vw;
}

.logo1 img {
    width: 100%;
}

.logo2 {
    width: 90vw;
    text-align: center;
    align-content: center;
    font-size: 400%;
    font-weight: bold;
    color: white;
}

.barOption {
    width: 10%;
    height: 7vh;

    background-color: #0d86e0;
    color: white;
    font-size: 200%;
    left: 90%;
    top: 0;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;


}



.navopt {
    width: 100%;
    height: 4vh;
    background-color: #0d86e0;
    display: flex;
}

.leftOpt {
    width: 60%;
    display: flex;
    padding: 0 2%;
}

.leftOpt li {
    width: 12%;
    padding: 10px;
    margin: 0 1%;
    font-size: 120%;
    color: white;
    list-style: none;
    text-align: center;

    &:hover {
        background-color: white;
        color: black;
        cursor: pointer;
    }
}

.rightOpt {
    width: 40%;
    display: flex;
    /* background-color: #0d86e0; */
}

.authSection {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.auth1,
.auth2 {
    width: 15%;
    font-size: 100%;
    font-weight: bold;
    margin: 0 2% 0 0;
    padding: 1% 0.5%;
    border: 2px solid #0766AD;
    color: black;
    border-radius: 5px;
    cursor: pointer;

}

@media only screen and (max-width: 600px) {
    .main {
        height: 7vh;
    }

    .logo1 {
        display: none;
    }

    .logo2 {
        width: 100%;
        font-size: 150%;
    }

    .barOption {
        display: flex;
    }

    .navopt {
        width: 60vw;
        height: 45vh;
        left: 40%;
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        border: 2px solid blue;
        border-bottom-left-radius: 20px;
    }

    .leftOpt {
        width: 100%;
        flex-direction: column;
    }

    .leftOpt li {
        width: 90%;
        margin: 1%;
        font-size: 120%;
        font-weight: 100;
        text-align: left;
    }

    .rightOpt {
        width: 100%;
    }

    .authSection {
        justify-content: center;
    }

    .auth1,
    .auth2 {
        width: 35%;
        padding: 2%;
    }
}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}