.main{
    width: 98%;
    min-height: fit-content;
    background-color:white;
}
.mainScreen{
    width: 50%;
}
@media only screen and (max-width: 600px) {
    .main{
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}