.main {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    width: 100%;
    font-size: 250%;
    margin: 0%;
    padding: 0;
    text-align: center;
}
/* Styles for the popup container */
.popup {
    width: 50%;
    background-color: white;
    min-height: 20%;
    max-height: max-content;
    padding: 1%;
    border-radius: 15px;
    border: 5px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.closer{
    width: 8%;
    height: 8%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Styles for the content section inside the popup */
.dataList {
    width: 100%;
    /* background-color: green; */
    height: 100%;
    color: white; /* Text color inside the popup */
    overflow-y: auto; /* If the content overflows, it will be scrollable */
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Additional styles you can add for content inside the popup */
.popupItem {
    width: 100%;
    margin: 1% 0;
    padding: 0.7%;
    border-bottom: 1px solid white;
    color: black;
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.title{
    width: 35%;
    padding: 0 2%;
    font-size: 150%;
    font-weight: bold;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    transform: skew(-15deg);
}
.value{
    width: 40%;
    margin: 0 5%;
    text-align: left;
    font-size: 110%;
    border-bottom: 2px dotted black;
}

.dataList strong{
    width: 100%;
    text-align: center;
    font-size: 200%;
    color: red;
    font-weight: bold;

}