/* style.module.css */

/* Main container style */
.main {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Admin form container */
.admin {
    width: 40%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    border: 8px solid blue;
    display: flex;
}

/* Form wrapper */
.formWrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

/* Admin login section */
.adminLogin {
    width: 90%;
    margin: 5%;
    padding: 0;
    /* display: flex; */
    /* flex-direction: column; */
}

/* Heading styles */
.adminLogin h1 {
    width: 100%;
    font-size: 300%;
    margin: 0;
    padding-bottom: 5%;
    text-align: center;
    font-weight: bolder;
}

/* Input section styles */
.inputSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Individual input styles */
.input {
    width: 96%;
    padding: 2%;
    display: flex;
    justify-content: center;
}

/* Input fields */
.input input {
    width: 90%;
    padding: 2%;
    font-size: 120%;
    outline: none;
}

/* Submit section styles */
.submitSection {
    width: 100%;
    padding: 5% 0;
    display: flex;
    justify-content: center;
}

/* Submit button styles */
.submitSection button {
    width: 25%;
    font-size: 120%;
    border-radius: 10px;
    border-width: 2px;
    font-weight: bold;
    text-align: center;
    background-color: #0766AD;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
}

.submitSection button:hover {
    background-color: white;
    color: black;
}