@import "tailwindcss";
.main {
    width: 100vw;
    height: 78vh;
    display: flex;
}

.home {
    width: 64%;
    height: 100%;
    background-color: rgb(212, 212, 212);
    display: flex;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
    .main {
        height: 87vh;
    }

    .home {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}